body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://ogimg.infoglobo.com.br/in/24308772-36d-ad0/FT1086A/86856180_RSSala-de-cinema-do-Kinoplex-Platinum-Rio-Sul-com-cadeiras-que-deitamFoto-Divulgacao-1.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  body > img {
    margin: 0 10px;
  }
  
  img {
    max-height: 250px;
    margin: 10px;
    box-shadow: 10px 5px 15px rgb(3, 0, 16);
  }

  img:hover {
    border-color: rgb(244, 46, 46);
    transform: scale(1.2);
    transition: 0.7s;
    cursor: pointer;
  }

  h2 {
    color: #ffffff;
  }

  input {
    border-radius: 4px;
  }

  button {
    width: 170px;
    border-radius: 4px;
    margin: 15px;
    background-color: #000000;
    color: #ffffff;
    font-weight: bolder;
    transition: 0.8s;
    
  }

  button:hover {
    background-color: #ffffff;
    color: #000000;
  }
  